# **Matrix Calculation**

In [ ]:
import numpy as np
import pandas as pd

class gcsv():
  def initiaval(sd):
    sd.at1 = "Value 1"
    sd.at2 = "Value 2"
    sd.at3 = "Result"
    sd.arr = {}
  def rval(sd):
    sd.arr[sd.at1] = list(map(int, input("Enter Values For First Attribute").strip().split()))[:5]
    sd.arr[sd.at2] = list(map(int, input("Enter Values For Second Attribute").strip().split()))[:5]
    sd.arr[sd.at3] = [0,0,0,0,0]
  def cdf(sd):
    sd.df = pd.DataFrame(sd.arr)
    sd.df.to_csv("Arrdata.csv",index=False)
    print("File Created Successfully")
class calc(gcsv):
  def ival(sd):
    sd.initiaval()
    sd.rval()
    sd.cdf()
    sd.ch = int(input("Enter Your Choice:\n 1.Addition \n 2.Subtraction \n 3.Multiplication \n 4.Division"))
    sd.fl = pd.read_csv("Arrdata.csv")
  def arcrea(sd):
    sd.arr1 = sd.fl['Value 1']
    sd.arr2 = sd.fl['Value 2']
    sd.arr3 = sd.fl['Result']
    sd.arr4 = np.vstack((sd.arr1, sd.arr2))
    sd.arr5 = np.vstack((sd.arr4, sd.arr3))
  def aper(sd):
    if sd.ch == 1:
      print("Addition")
      for i in range(5):
        sd.arr5[2][i] = sd.arr5[0][i] + sd.arr5[1][i]
      print("Added values")
      print(sd.arr5[2])
    elif sd.ch == 2:
      print("Subtraction")
      for i in range(5):
        sd.arr5[2][i] = sd.arr5[0][i] + sd.arr5[1][i]
      print("Subtracted values")
      print(sd.arr5[2])
    elif sd.ch == 3:
      print("Multiplication")
      for i in range(5):
        sd.arr5[2][i] = sd.arr5[0][i] * sd.arr5[1][i]
      print("Multiplicated values")
      print(sd.arr5[2])
    else:
      print("Division")
      for i in range(5):
        sd.arr5[2][i] = sd.arr5[0][i] + sd.arr5[1][i]
      print("Divided values")
      print(sd.arr5[2])
ob = calc()
ob.ival()
ob.arcrea()
ob.aper()

Enter Values For First Attribute1 2 3 4 5
Enter Values For Second Attribute1 4 9 16 25
File Created Successfully
Enter Your Choice:
 1.Addition
 2.Subtraction
 3.Multiplication
 4.Division1
Addition
Added values
[ 2  6 12 20 30]

# **Pandas file Creation**

In [ ]:
import pandas as pd
class df():
  def ival(sd):
    sd.at1 = "Emp No"
    sd.at2 = "Ename"
    sd.at3 = "Job"
    sd.at4 = "Mgr"
    sd.at5 = "Hire Date"
    sd.at6 = "Sal"
    sd.at7 = "Comm"
    sd.at8 = "Dept No"
    sd.d = {}
  def rval(sd):
    sd.d[sd.at1] = list(map(int, input("Enter Employee Number:").strip().split()))[:5]
    sd.d[sd.at2] = list(map(str, input("Enter Employee Name:").strip().split()))[:5]
    sd.d[sd.at3] = list(map(str, input("Enter Job Name:").strip().split()))[:5]
    sd.d[sd.at4] = list(map(int, input("Enter MGR:").strip().split()))[:5]
    sd.d[sd.at5] = list(map(str, input("Enter Joinig Date:").strip().split()))[:5]
    sd.d[sd.at6] = list(map(int, input("Enter Employee Salary:").strip().split()))[:5]
    sd.d[sd.at7] = list(map(str, input("Enter Employee Comm:").strip().split()))[:5]
    sd.d[sd.at8] = list(map(int, input("Enter Dept Number:").strip().split()))[:5]
  def fcr(sd):
    sd.d1 = pd.DataFrame(sd.d)
    sd.d1.to_csv("File.csv",index= False)
    print("File Created Successfully")
ob = df()
ob.ival()
ob.rval()
ob.fcr()

Enter Employee Number:1 2 3 4 5
Enter Employee Name:siddhu yashwanth yogish sathish pranay
Enter Job Name:analyst developer designer reporting testing
Enter MGR:10 20 30 40 50
Enter Joinig Date:200123 200223 200323 20042023 20052023
Enter Employee Salary:10000 20000 30000 40000 50000
Enter Employee Comm:tcs info ibm microsoft google
Enter Dept Number:5 4 3 2 1
File Created Successfully

# **Row wise and Columns wise Sum**

In [ ]:
import pandas as pd
class df2():
  def ival(sd):
    sd.df = pd.read_csv('Arrdata.csv')
    print("File Loaded successfully")
  def rsum(sd):
    sd.rs = sd.df.sum()
    print("Row Sum")
    print(sd.rs)
  def csum(sd):
    sd.cs = sd.df.sum(axis=1)
    print("Column sum")
    print(sd.cs)
ob = df2()
ob.ival()
ob.rsum()
ob.csum()

File Loaded successfully
Row Sum
Value 1    15
Value 2    55
Result      0
dtype: int64
Column sum
0     2
1     6
2    12
3    20
4    30
dtype: int64

# **Grouopby Functions**

In [ ]:
class gbyf():
  def ival(sd):
    sd.df = pd.read_csv('test1.csv')
    print("File Loaded Succesfully")
  def gsum(sd):
    sd.gs = sd.df.groupby("A")[["C", "D"]].sum()
    print("Groupby Sum")
    print(sd.gs)
  def gmin(sd):
    sd.gmi = sd.df.groupby("A")[["C", "D"]].min()
    print("Groupby Min")
    print(sd.gmi)
  def gmean(sd):
    sd.gme = sd.df.groupby("A")[["C", "D"]].mean()
    print("Groupby Mean")
    print(sd.gme)
  def gmedian(sd):
    sd.gmed = sd.df.groupby("A")[["C", "D"]].median()
    print("Groupby Median")
    print(sd.gmed)
  def gcount(sd):
    sd.gc = sd.df.groupby("A")[["C", "D"]].count()
    print("Groupby Count")
    print(sd.gc)
ob = gbyf()
ob.ival()
ob.gsum()
ob.gmin()
ob.gmean()
ob.gmedian()
ob.gcount()

File Loaded Succesfully
Groupby Sum
         C     D
A
bar   0.28  0.64
foo  92.14  0.58
Groupby Min
        C     D
A
bar -0.88 -0.46
foo -1.40 -1.12
Groupby Mean
             C         D
A
bar   0.093333  0.213333
foo  18.428000  0.116000
Groupby Median
       C     D
A
bar  0.4  0.17
foo  0.4  0.44
Groupby Count
     C  D
A
bar  3  3
foo  5  5